<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.sns.DAO.MemberDAO">
    <select id="getMembers" resultType="kr.kh.sns.model.vo.MemberVO">
        select meID,meName from member
    </select>
    <insert id="signup">
        insert into member(meID,meName,mePw,meMaNum,meMsNum)
        values(#{me.meID},#{me.meName},#{me.mePw},1,1)

    </insert>
</mapper>
