<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.sns.DAO.RoomDAO">
    <select id="getRoom" resultType="kr.kh.sns.model.vo.RoomVO">
        select * from room where room_lod_num = #{num}
    </select>

    <insert id="insertRoom">
        INSERT INTO room (
        room_name, room_count, room_max, room_min, room_bed,
        room_size, room_smoke, room_detail, room_lod_num
        ) VALUES (
        #{ro.room_name}, #{ro.room_count}, #{ro.room_max}, #{ro.room_min}, #{ro.room_bed},
        #{ro.room_size}, #{ro.room_smoke}, #{ro.room_detail}, #{num}
        )
    </insert>
    <insert id="insertFile">
        insert into file(file_name,file_ori_name,file_fk_num,file_type)
        values(#{fi.file_name},#{fi.file_ori_name},#{fi.file_fk_num},'객실사진')
    </insert>
    <select id="getLodRoom" resultType="kr.kh.sns.model.vo.RoomVO">
        select * from room where room_lod_num = #{num}
    </select>
    <select id="getRoomImg" resultType="kr.kh.sns.model.vo.FileVO">
        select * from file where file_fk_num = #{num} and file_type = '객실사진'
        order by file_num
    </select>
    <select id="getDeleteFile" resultType="kr.kh.sns.model.vo.FileVO">
        select * from file where file_num=#{num}
    </select>
    <delete id="roomImgDelete">
        delete from file where file_num = #{num}
    </delete>
    <update id="updateRoom">
        UPDATE room
        SET
        room_name = #{ro.room_name},
        room_count = #{ro.room_count},
        room_max = #{ro.room_max},
        room_min = #{ro.room_min},
        room_bed = #{ro.room_bed},
        room_size = #{ro.room_size},
        room_smoke = #{ro.room_smoke},
        room_detail = #{ro.room_detail}
        WHERE room_num = #{ro.room_num}
    </update>
    <insert id="dayInsert" parameterType="DayRoomVO">
        INSERT INTO dayroom (
        day_max,
        day_discount,
        day_price,
        day_disc,
        day_count,
        day_room_num,
        day_start,
        day_end
        )
        VALUES (
        #{day.day_max},
        #{day.day_discount},
        #{day.day_price},
        #{day.day_disc},
        #{day.day_count},
        #{day.day_room_num},
        #{day.day_start},
        #{day.day_end}
        )
    </insert>
    <insert id="stayInsert">
        insert into stayroom(
        stay_num,
        stay_in,
        stay_out,
        stay_discount,
        stay_price,
        stay_disc,
        stay_count,
        stay_room_num
        )
        values(
        #{stay.stay_num},
        #{stay.stay_in},
        #{stay.stay_out},
        #{stay.stay_discount},
        #{stay.stay_price},
        #{stay.stay_disc},
        #{stay.stay_count},
        #{stay.stay_room_num}
        )
    </insert>
    <!--    stay에서 역으로 조인-->
    <resultMap id="stayMap" type="StayRoomVO">
        <id property="stay_num" column="stay_num"/>
        <result property="stay_in" column="stay_in"/>
        <result property="stay_out" column="stay_out"/>
        <result property="stay_discount" column="stay_discount"/>
        <result property="stay_price" column="stay_price"/>
        <result property="stay_disc" column="stay_disc"/>
        <result property="stay_count" column="stay_count"/>
        <result property="stay_room_num" column="stay_room_num"/>

        <association property="room" javaType="RoomVO">
            <id property="room_num" column="stay_room_num"/>
            <result property="room_name" column="room_name"/>
            <result property="room_count" column="room_count"/>
            <result property="room_max" column="room_max"/>
            <result property="room_min" column="room_min"/>
            <result property="room_bed" column="room_bed"/>
            <result property="room_size" column="room_size"/>
            <result property="room_smoke" column="room_smoke"/>
            <result property="room_detail" column="room_detail"/>
        </association>
    </resultMap>

    <select id="getStayList" resultMap="stayMap">
        select * from stayRoom join room on stay_room_num = room_num where stay_room_num = #{num}
    </select>


    <resultMap id="dayMap" type="DayRoomVO">
        <id property="day_num" column="day_num"/>
        <result property="day_max" column="day_max"/>
        <result property="day_discount" column="day_discount"/>
        <result property="day_price" column="day_price"/>
        <result property="day_disc" column="day_disc"/>
        <result property="day_count" column="day_count"/>
        <result property="day_room_num" column="day_room_num"/>
        <result property="day_start" column="day_start"/>
        <result property="day_end" column="day_end"/>

        <association property="room" javaType="RoomVO">
            <id property="room_num" column="day_room_num"/>
            <result property="room_name" column="room_name"/>
            <result property="room_count" column="room_count"/>
            <result property="room_max" column="room_max"/>
            <result property="room_min" column="room_min"/>
            <result property="room_bed" column="room_bed"/>
            <result property="room_size" column="room_size"/>
            <result property="room_smoke" column="room_smoke"/>
            <result property="room_detail" column="room_detail"/>
        </association>
    </resultMap>
    <select id="getDayList" resultMap="dayMap">
        select * from dayRoom join room on day_room_num = room_num where day_room_num = #{num}
    </select>

    <delete id="roomDelete">
        delete from room where room_num = #{num}
    </delete>
    <select id="getFileList" resultType="kr.kh.sns.model.vo.FileVO">
        select * from file where file_fk_num = #{num}
    </select>
    <delete id="deleteFileList">
        delete from file where file_fk_num = #{num}
    </delete>
</mapper>